.articles {
  background-color: var(--background);
  width: 100%;
  height: 95vh;
}

.articles-text {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articles-title {
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.articles-underline {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  height: 0.5em;
  width: 8%;
  margin-top: 1rem;
}

.articles-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  height: 25rem;
  background-color: var(--background-section);
  box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.7);
}

.card a {
  margin: 3rem 0 0 8rem;
  border: 1px solid var(--footer);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.card a:hover {
  background-color: var(--footer);
}

.card hr {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  height: 0.25em;
  width: 10%;
  margin-top: 2.5rem;
}

.card p {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-align: center;
  line-height: 3rem;
  padding: 0 1.5rem 0 1.5rem;
}

.card-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .articles {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .articles-text {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .articles-title {
    font-size: 1.5rem;
  }

  .articles-underline {
    width: 20%;
    margin: 1rem 0 0 0;
  }

  .card {
    max-width: 90%;
    height: 90vh;
    margin-bottom: 2rem;
  }

  .card p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1rem;
  }
}
