.header {
  background-image: url(/img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  width: 100%;
}

.hamburguer-menu {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 2rem 3rem;
  position: relative;
  box-shadow: 6px 28px 36px -10px rgba(0, 0, 0, 0.34);
}

.nav-options {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-menu a {
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.nav-subscribe {
  align-items: center;
  border: 5px solid var(--secondary-color);
  border-radius: 0.25rem;
  padding: 0.25em;
}

.nav-subscribe:hover {
  background-color: var(--secondary-color);
}
.nav h2 {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
.nav a {
  text-decoration: none;
}

.container-title {
  text-align: center;
  margin-top: 100px;
}

.container-title h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 1rem;
}

.container-title p {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-top: 0.25rem;
}

.container-title hr {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  height: 0.5em;
  width: 8%;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .header {
    height: 95vh;
  }
  .nav-options {
    display: none;
  }

  .hamburguer-menu {
    display: block;
  }

  .header__hamburguer-menu {
    background-image: url(/img/bars-solid.svg);
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }

  .menu-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 5%;
    background-color: var(--background);
  }

  .button:checked ~ .menu-list {
    display: block;
  }

  .menu-list__item {
    padding: 0.25rem;
  }

  .menu-list__link {
    text-transform: uppercase;
  }

  .menu-list__link:hover {
    background-color: var(--secondary-color);
  }

  .button {
    display: none;
  }

  .nav {
    padding: 1rem;
  }

  .nav a {
    font-size: 0.5rem;
  }

  .nav h2 {
    font-size: 1rem;
  }

  .container-title {
    padding: 0 1rem;
    margin-top: 5rem;
  }

  .container-title h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }

  .container-title p {
    font-size: 0.75rem;
  }

  .container-title hr {
    width: 50%;
    margin-top: 0.75rem;
  }
}
